coloredlogs==14.0
datasets==1.7.0
gensim==3.8.3
keras==2.9.0
keras_nightly==2.5.0.dev2021032900
numpy>=1.21.2
pandas>=1.2.4
pydantic==1.7.4
pyserini==0.10.1.0
pytorch_transformers==1.2.0
scikit-learn>=0.22
scipy>=1.4
spacy==3.0.6
tensorboard>=2.1.0
tensorflow>=2.2.0rc1
tokenizers==0.10.2
tqdm==4.45.0
transformers==4.6.1
torch==1.8.1
wikipedia2vec==1.0.5
